/* CSS declarations go here */

.container {
	text-align: center;
}
.input-cat{
	width: 30%;
}
.form-control {
	width: 30%;
	margin: 0 auto;
}

.thumbnail > img, .thumbnail a > img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	background-blend-mode: saturation;
}

.active {
	background: rgba(0, 0 , 0, 0.7);
	color: rgb(255, 255, 255);
	font-weight: 600;
}

